---
import Layout from "../../components/Layout.astro"
import { getCollection } from "astro:content"
---

<Layout title="Manual" redirect="/manual/introduction">
  <main>
    <section>Redirecting to the introduction...</section>
  </main>
</Layout>
