---
import Layout from "../components/Layout.astro"
---

<Layout title="Questions and Answers">
  <main>
    <section>
      <h1>Questions and Answers</h1>
      <br />
      <h2>What is Lus?</h2>
      <p>
        Lus is a small, fast, and reliable programming language derived from
        Lua.
      </p>
      <h2>Why make Lus?</h2>
      <p>
        I was personally dissatisfied with how PUC-Rio is evolving Lua. While
        their conservatism in language iteration has been responsible for Lua's
        timelessness and stability, it also made it difficult to productively
        use Lua as a standalone language runtime. This is why third-party
        runtimes such as <a href="https://luvit.io/" target="_blank">Luvit</a>, <a
          href="https://evo-lua.github.io/"
          target="_blank">Evo</a
        >, and <a href="https://github.com/dibyendumajumdar/Suravi">Suravi</a> exist
        and are obligatory for productive use of Lua in large projects.
      </p>
      <p>
        There are other dialects of Lua that implement broader functionality,
        but they either all converge towards the addition of strong typing to
        the language or are pre-processors that compile to Lua. I am interested
        in neither of these approaches.
      </p>
    </section>
  </main>
</Layout>
